body{
    margin: 0px;
    padding: 0px;

}
#red-line{
    margin: 0px;
    height: 10px;
    width: 100%;
    background-color: #f14d54;
}
#tatvasoft-logo{
    margin-left: 100px;
    height: 100px;
    width: 200px;
}
.devider{
    color: rgb(65, 65, 65);
}
.first-header{
    margin-top: -90px;
    padding-bottom: 30px;

}
.header-link{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-cart{
    margin-right: 80px;
    height: 45px;
    width: 110px;
    background-color: white ;
    border-radius: 5px;
    border-color:rgb(167, 166, 166);
    border-style:solid;

}
.btn{
    height: 40px;
    width: 129px;
    margin: 10px;
    margin-top: 20px;
}
.navbar{
    justify-content: center;

}
.form-control{
    width: 422px;
    height: 40px;
    margin-top: 20px;
}
.Home li {
    padding-right: 0%;
    margin-right: -30px;
}
.header-login-register{
    font-size: 32px;
    color: #414141;
    margin-bottom: 25px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nc-list li {
    margin-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #212121;
}
.nc-list :nth-child(1){
    margin-top: 20px;
}
.nc-list li{
    margin-left: -20px;
}
.Account-Create-btn{
    background-color: #f14d54;
    color: white;
    font-weight: 500;
    border-color: #f14d54;
    margin-top: 140px;
}
[class^=heading]{
    font-size: 25px;
    color: #414141;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
[class*=-btn]{
    background-color: #f14d54;
    color: white;
    font-weight: 500;
    border-color: #f14d54;
    margin-top: 60px;
}
.footer{
    margin-top: 80px;
}
.header-product{
    font-size: 32px;
    color: #414141;
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.edit-button{
    width: 100px;
    height: 40px;
    background-color: white ;
    border-radius: 4px;
    border-color: #80bf32;
    color: #80bf32;
    border-style:solid;
    float: right;
}
.edit-button:hover{
    color: white;
    background-color: #80bf32;
}
.delete-button{
    width: 100px;
    height: 40px;
    background-color: white ;
    border-radius: 4px;
    border-color: #f14d54;
    color: #f14d54;
    border-style:solid;
    float: right;
    margin-left: 10px;
}
.delete-button:hover{
    color: white;
    background-color: #f14d54;
}
.footer-link{
    border-radius: 50%;
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    color: black;
}
.footer-link:hover{
    background-color: #f14d54;
    color: white;
    font-weight: 500;
}
.next-page{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 1078px) {
  .card{
    width: auto;
    height: auto;
  }
  .card-body{
    margin-left: 50px;
  }
}

/* div.manu{
    overflow: scroll;
} --------------------------------------------------------------------------------------------------*/
/* .navv-li{
  margin-left: 1200px;
}


.nav1{
  position: absolute;
  top: 10px;
  right: 150px;
}
.nav2{
  height: 80px;
  position: relative;
  top: 92px;
  text-align: center;
}
.cart{
  width: 100.88px;
  height: 30.88px;
  color: rgb(65, 65, 65);
  margin-top: 10px;
}
.fas{
  color: #f14d54;
}
.searchText{
  border: 0px;
  width: 422px;
  height: 40px;
  color: rgb(33, 33, 33);
  margin-left: 400px;
}
.submitbutton{
  border: 0px;
  height: 40px;
  width: 129px;
  font-size: 16px;
  background-color: #80BF32;
  margin-right: 10px;
}
.resetbutton{
  border: 0px;
  height: 40px;
  width: 129px;
  font-size: 16px;
  background-color: #f14d54;

}
.nav3{
  height: 20px;
  margin-top: 120px;
  font: 18px "Roboto";
  color: #414141;
  margin-bottom: 50px;
}
h3{
  font: 32px "Roboto";
  color: #414141;
}
.content__info{
  padding: 0px 0 0 0;
  margin: 0px 0 0 0;
  margin-top: 75px;
  margin-left: 60px;
  margin-bottom: 80px;
}
p{
  color: #838383;
  font: 15px "Roboto-Light";
  margin-top: 20px;
  margin-bottom: 20px;
}
.register__info{
  margin-top: 15px;
  margin-bottom: 40px;
  width: 357px;
  height: 40px;
}
.registerbutton{
  border: 0px;
  width: 136px;
  height: 45px;
  background-color: #f14d54;
  border-radius: 0;
}

li{
  line-height: 2;
}
.submitbutton2{
  border: 0px;
  margin-top: 165px;
  margin-bottom: 80px;
  width: 220px;
  height: 45px;
  background-color: #f14d54;
}
.login{
  padding: 0px;
  margin-top: 50px;
}
.login__content{
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 50px;
}
.submitbutton3{
  margin-top: 60px;
  margin-bottom: 80px;
  width: 100px;
  height: 45px;
  background-color: #f14d54;
  border: 0px;
}
.login__content_1{
  padding-bottom: 0px;
  border: 0px;
  margin: auto;
  margin-left: 300px;
  margin-right: 200px;
}
.book{
  margin-top: 100px;
  text-align: center;
} */
